@charset "utf-8";

%before {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: 0;
  padding: 0;
  width: 100%;
  height: unit(1);
  line-height: 1;
  color: #fff;
  font-size: unit(0.8);
  text-align: center;
}

#app-container {
  &.debug::before {
    @extend %before;
    content: "Debug";
    background: rgba(#b700ff, 0.3);
  }

  &.staging::before {
    @extend %before;
    content: "Staging";
    background: rgba(#0026ff, 0.3);
  }
}
