@charset "utf-8";

.layout-content {
  margin-left: unit(25);
  padding-top: unit(7);
}

@include lg {
  .layout-content {
    margin-left: 0;
    padding-top: unit(11);
  }

  .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);

    &.layout-mask-active {
      position: fixed;
      top: 0;
      left: 0;
      z-index: $mask;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color 0.5s;
    }
  }

  .blocked-scroll {
    overflow: hidden;
  }
}
