@charset "utf-8";

@import "../pages/login.scss";
@import "../pages/main.scss";

.layout-content > .page {
  position: relative;
  padding-bottom: env(safe-area-inset-bottom);
  padding: unit(2);
  width: 100%;
}
